.card {
    max-width: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 0 auto;
    text-align: left;
  }
  
  .card img {
    width: 100%;
    height: auto;
  }
  
  .card-content {
    padding: 16px;
  }
  
  .card h2 {
    font-size: 20px;
    margin: 0;
    margin-bottom: 8px;
  }
  
  .card .subheader {
    font-size: 14px;
    color: #888;
  }
  
  .card p {
    font-size: 16px;
    margin: 0;
    margin-bottom: 16px;
  }
  
  .card-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: #f4f4f4;
  }
  
  .favorite-button,
  .share-button {
    padding: 8px 16px;
    background-color: #0073e6;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .favorite-button:hover,
  .share-button:hover {
    background-color: #005bb8;
  }
  

  img{
    width: 70%;
  }