
/* Estilos para cada tarjeta */
.card-unisex {
  font-family: 'Montserrat';
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.2s;
  max-width: 70vh;
  margin: 1rem;
}

.card-unisex:hover {
  transform: scale(1.05);
}

.card-unisex-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}


.card-unisex-name {
  font-size: 1.8rem;
  font-weight: 500;
  color:var(--primary);
  font-family: "Montserrat";
}

.card-unisex-body img {
  width: 100%;
  height: auto;
}

.card-unisex-body p {
  text-align: center;
  padding: 0.5rem;
  font-weight: 600;
}

.card-unisex-footer {
  padding: 10px;
  text-align: center;
}

.card-unisex-footer a {
  text-decoration: none;
  color: var(--info);
  font-weight: bold;
}

.card-unisex-footer a:hover {
  text-decoration: underline;
}