.horarios-container {
  margin-top: 20px;
  font-family: "Montserrat";
  font-weight: 600;
}

.horarios-table {
  width: 100%;
  border-collapse: collapse;
}

.horarios-table th, .horarios-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.horarios-table th {
  background-color: #f2f2f2;
}

.horario-row:hover {
  background-color: #f5f5f5;
}

.eliminar {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.formulario-turno {
  margin-top: 20px;
}

.disponible {
  color: green;
}

.title-horarios-lu {
text-align: center;
}

.columna {
  width: 50%; /* O cualquier otro valor que sume 100% con el otro componente */
}


