.horarios-container {
  margin-top: 20px;
  font-family: "Montserrat";
  font-weight: 600;
}

.horarios-table {
  width: 100%;
  border-collapse: collapse;
}

.horarios-table th, .horarios-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.horarios-table th {
  background-color: #f2f2f2;
}

.horario-row:hover {
  background-color: #f5f5f5;
}

.eliminar {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.formulario-turno {
  margin-top: 20px;
}

.disponible {
  color: green;
}

.title-horarios-lu {
text-align: center;
}

.columna {
  width: 50%; /* O cualquier otro valor que sume 100% con el otro componente */
}


#searchButton {
  background-color: var(--primary); /* Color de fondo */
  border: none; /* Sin borde */
  color: white; /* Color del texto */
  padding: 15px 32px; /* Espaciado interno */
  text-align: center; /* Alineación del texto */
  text-decoration: none; /* Sin decoración de texto */
  display: inline-block; /* Mostrar como bloque en línea */
  font-size: 16px; /* Tamaño de fuente */
  margin: 4px 2px; /* Margen */
  cursor: pointer; /* Cursor */
  border-radius: 8px; /* Radio de borde */
}

#searchButton:hover {
  background-color: var(--secundary); /* Cambiar color de fondo en hover */
}

#searchButton:active {
  background-color: #3e8e41; /* Cambiar color de fondo al hacer clic */
}
