/* Header.css */
.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* Tres columnas de igual tamaño */
  gap: 10px;
  /* Espacio entre elementos */
  justify-content: center;
  /* Centrar elementos horizontalmente */
  align-items: center;
  /* Centrar elementos verticalmente */
  background-color: var(--primary);
  color: white;
  /*padding: 10px;*/
  text-align: center;
}

.header-item-2 {

  padding: 10px;
  border: 1px solid #fff;
  box-sizing: border-box;
}

.header-item-4 a {
  background-color: var(--primary);
  padding: 15px;
  text-decoration: none;
  color: #fff;
  box-sizing: border-box;
  border-radius: 0 0 10px 10px;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
}

.solapa{
  display: flex;
  font-size: 0.8rem;
  gap: 0.5rem;
  margin-top: 0.8rem;
}

.menuText:hover {
  color: var(--success); /* Cambia el color del texto al pasar el mouse por encima */
}


@media screen and (max-width: 600px) {
.header{
  display: flex;
  flex-direction: column;
}


.navbar{
  font-size: 0.8rem;
}

.menu{
  margin: 1rem;
}
}